*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 80px;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}

// 导航
nav{
    width: 100%;
    height: 31px;
    background: black;
    // 导航内版心
    header{
        width: 1200px;
        height: 31px;
        margin: 0 auto;
        // background: pink;
        // 导航内偏左侧
        ul:nth-of-type(1){
            width: 310px;
            height: 31px;
            line-height: 31px;
            // background: skyblue;
            float: left;
            position: relative;
            z-index: 9;
            li{
                height: 31px;
                list-style: none;
                float: left;
                margin-right: 20px;
                font-size: 14px;
                color: #999;
                a{
                    color: #999; 
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            // 二维码
            .erweima{
                display: none;
                position: absolute;
                right: -36px;
                top: 45px;
                padding: 5px 5px 5px 5px;
                background: #f5f5f5;
                border: 1px solid #ccc;
                // display: none;
                img{
                    display: block;
                    width: 116px;
                    height: 116px;
                    margin: 0 auto;
                }
                strong{
                    display: block;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
                .arrow{
                   display: block;
                   width: 0;
                   height: 0;
                   border: 10px solid transparent;
                   border-bottom: 10px solid #f5f5f5; 
                   position: absolute;
                   top: -20px;
                   right: 62px;
                }
            }
        }
        // 导航内偏右侧
        ul:nth-of-type(2){
            width: 700px;
            height: 31px;
            line-height: 31px;
            // background: red;
            float: right;
            font-size: 14px;
            color: #999;
            text-align: center;
            li{
                width: 100px;
                height: 31px;
                list-style: none;
                float: left;
                cursor: pointer;
                transform-style: preserve-3d;
                position: relative;
                z-index: 9;
                a{
                    color: #999;
                    text-decoration: none;
                    position: relative;
                    &:hover span{
                        transform: rotateZ(180deg);
                        transform-origin: 40% 30%;
                        border-top: 4px solid red;
                    }
                    &:hover{
                        color: red;
                    }
                    span{
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        margin-top: -2px;
                        width: 0;
                        height: 0;
                        font-size: 0;
                        line-height: 0;
                        border: 4px solid transparent;
                        border-top: 4px solid #999;
                        transition: transform .2s ease-in;
                        
                    }
                }
                .sec{
                    display: none;
                    position: absolute;
                    left: 1px;
                    top: 31px;
                    border-top: 0;
                    width:130px;
                    box-shadow:0 1px 1px rgba(0,0,0,.12);
                    padding: 4px 15px 12px 14px;
                    // display: none;
                    background: #fff;
                    border: 1px solid #e8e8ea;
                    text-align: left;
                    font-size: 12px;
                    a{
                        display: block;
                    }
                    b{
                        font-weight: normal;
                    }
                    span{
                        display: block;
                        min-width: 88px;
                        border-bottom: 1px solid #eaeaea;
                        line-height: 0;
                        font-size: 0;
                    }
                }
                .more{
                    width: 80px;
                    margin-left: 12px;
                    .sec{
                        width: 100px;
                        position: absolute;
                        left: -7px;
                        top: 31px;
                        i{
                            display: none;
                            width: 110px;
                            height: 110px;
                            border: 1px solid #ccc;
                            position: absolute;
                            top: 10px;
                            left: -130px;
                            padding: 5px;
                            background: #f5f5f5;
                            img{
                                display: block;
                                width: 100px;
                                height: 100px;
                            }
                            .arrow1{
                                display: block;
                                width: 0;
                                height: 0;
                                border: 15px solid transparent;
                                border-left: 15px solid #f5f5f5; 
                                position: absolute;
                                top: 25px;
                                right: -30px;
                            }
                        }
                        em{
                            display: none;
                            width: 110px;
                            height: 110px;
                            border: 1px solid #ccc;
                            position: absolute;
                            top: 25px;
                            left: -130px;
                            padding: 5px;
                            background: #f5f5f5;
                            img{
                                display: block;
                                width: 100px;
                                height: 100px;
                            }
                            .arrow1{
                                display: block;
                                width: 0;
                                height: 0;
                                border: 15px solid transparent;
                                border-left: 15px solid #f5f5f5; 
                                position: absolute;
                                top: 42px;
                                right: -30px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.pictures{
    width: 1200px;
    margin: 20px auto;
    img{
        display: block;
        width: 260px;
        height: 65px;
    }
}
.go_shop{
    width: 1200px;
    // border: 2px solid springgreen;
    margin: 30px auto;
    font-size: 25px;
}
.cart{
    width: 1200px;
    // height: 300px;
    border: 2px solid gray;
    margin: 30px auto;
    .sm{
        display: flex;
        height: 50px;
        line-height: 50px;
        input{
            display: block;
            width: 20px;
            height: 20px;
            margin-top: 16px;
            margin-left: 20px;
        }
    }
}