*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 80px;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}
li{
    list-style: none;
}
// 导航
nav{
    width: 100%;
    height: 31px;
    background: black;
    // 导航内版心
    header{
        width: 1200px;
        height: 31px;
        margin: 0 auto;
        // background: pink;
        // 导航内偏左侧
        ul:nth-of-type(1){
            width: 310px;
            height: 31px;
            line-height: 31px;
            // background: skyblue;
            float: left;
            position: relative;
            z-index: 9;
            li{
                height: 31px;
                list-style: none;
                float: left;
                margin-right: 20px;
                font-size: 14px;
                color: #999;
                a{
                    color: #999; 
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            // 二维码
            .erweima{
                display: none;
                position: absolute;
                right: -36px;
                top: 45px;
                padding: 5px 5px 5px 5px;
                background: #f5f5f5;
                border: 1px solid #ccc;
                // display: none;
                img{
                    display: block;
                    width: 116px;
                    height: 116px;
                    margin: 0 auto;
                }
                strong{
                    display: block;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
                .arrow{
                   display: block;
                   width: 0;
                   height: 0;
                   border: 10px solid transparent;
                   border-bottom: 10px solid #f5f5f5; 
                   position: absolute;
                   top: -20px;
                   right: 62px;
                }
            }
        }
        // 导航内偏右侧
        ul:nth-of-type(2){
            width: 700px;
            height: 31px;
            line-height: 31px;
            // background: red;
            float: right;
            font-size: 14px;
            color: #999;
            text-align: center;
            li{
                width: 100px;
                height: 31px;
                list-style: none;
                float: left;
                cursor: pointer;
                transform-style: preserve-3d;
                position: relative;
                z-index: 9;
                a{
                    color: #999;
                    text-decoration: none;
                    position: relative;
                    &:hover span{
                        transform: rotateZ(180deg);
                        transform-origin: 40% 30%;
                        border-top: 4px solid red;
                    }
                    &:hover{
                        color: red;
                    }
                    span{
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        margin-top: -2px;
                        width: 0;
                        height: 0;
                        font-size: 0;
                        line-height: 0;
                        border: 4px solid transparent;
                        border-top: 4px solid #999;
                        transition: transform .2s ease-in;
                        
                    }
                }
                .sec{
                    display: none;
                    position: absolute;
                    left: 1px;
                    top: 31px;
                    border-top: 0;
                    width:130px;
                    box-shadow:0 1px 1px rgba(0,0,0,.12);
                    padding: 4px 15px 12px 14px;
                    // display: none;
                    background: #fff;
                    border: 1px solid #e8e8ea;
                    text-align: left;
                    font-size: 12px;
                    a{
                        display: block;
                    }
                    b{
                        font-weight: normal;
                    }
                    span{
                        display: block;
                        min-width: 88px;
                        border-bottom: 1px solid #eaeaea;
                        line-height: 0;
                        font-size: 0;
                    }
                }
                .more{
                    width: 80px;
                    margin-left: 12px;
                    .sec{
                        width: 100px;
                        position: absolute;
                        left: -7px;
                        top: 31px;
                        i{
                            display: none;
                            width: 110px;
                            height: 110px;
                            border: 1px solid #ccc;
                            position: absolute;
                            top: 10px;
                            left: -130px;
                            padding: 5px;
                            background: #f5f5f5;
                            img{
                                display: block;
                                width: 100px;
                                height: 100px;
                            }
                            .arrow1{
                                display: block;
                                width: 0;
                                height: 0;
                                border: 15px solid transparent;
                                border-left: 15px solid #f5f5f5; 
                                position: absolute;
                                top: 25px;
                                right: -30px;
                            }
                        }
                        em{
                            display: none;
                            width: 110px;
                            height: 110px;
                            border: 1px solid #ccc;
                            position: absolute;
                            top: 25px;
                            left: -130px;
                            padding: 5px;
                            background: #f5f5f5;
                            img{
                                display: block;
                                width: 100px;
                                height: 100px;
                            }
                            .arrow1{
                                display: block;
                                width: 0;
                                height: 0;
                                border: 15px solid transparent;
                                border-left: 15px solid #f5f5f5; 
                                position: absolute;
                                top: 42px;
                                right: -30px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.pictures{
    width: 1200px;
    margin: 20px auto;
    img{
        display: block;
        width: 260px;
        height: 65px;
    }
}
.cart {
    width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    padding: 20px;
    .aa{
        font-size: 28px;
        margin-bottom: 20px;
        color: skyblue;
    }
    .top {
      height: 60px;
      display: flex;
      align-items: center;
      font-size: 26px;
    //   border: 2px solid blue;
      margin-bottom: 50px;
      strong{
          font-weight: normal;
          font-size: 20px;
          color: #ccc;
          margin-left: 50px;
      }
      ul{
          width: 760px;
        //   border: 1px solid pink;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 90px;
          color: #ccc;
          font-size: 20px;
      }
    input {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 40px;
        margin-right: 20px;
      }
    p {
        padding-left: 40px;
      }
    }
    .center {
        padding-left: 50px;
        li {
            display: flex;
            margin: 10px;
            // border: 1px solid hotpink;
        .select {
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
  
        input {
            display: block;
            width: 30px;
            height: 30px;
          }
        }
        .info {
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: 20px;
        img {
            width: 130px;
            height: 130px;
            display: block;
            margin-right: 10px;
          }
        }
        .price {
          display: flex;
          align-items: center;
          font-size: 22px;
          margin-left: 80px;
        }
        .number {
          margin-left: 155px;
          display: flex;
          align-items: center;
        button {
            width: 30px;
            height: 30px;
          }
        input {
            height: 30px;
            border: none;
            outline: none;
            width: 100px;
            text-align: center;
            font-size: 20px;
          }
        }
        .xiaoji {
          display: flex;
          align-items: center;
          margin-left: 100px;
          font-size: 22px;
        }
        .del {
          margin-left: 130px;
          font-size: 22px;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: red;
        }
      }
    }
    .bottom {
    width: 1200px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid pink;
    margin-top: 50px;
      p {
        padding-right: 40px;
      }
      button {
        margin-right: 40px;
        width: 200px;
        height: 50px;
        font-size: 30px;
        .pay ,.clear{
          outline: none;
          border: 0;
        }
      }
    }
  }

  
  ul, li {
    list-style: none;
  }
  
.clearbox:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
button{
    cursor: pointer;
}
// 底部
.box1{
  width: 100%;
  background: white;
  margin-top: 120px;
  ul{
      width: 1100px;
      height: 200px;
      // background: skyblue;
      margin: 0 auto;
      border-bottom: 1px solid #ccc;
      li{
          float: left;
          width: 233px;
          height: 42px;
          margin-left: 42px;
          list-style: none;
          margin-top: 80px;
          div{
              width: 44px;
              height: 44px;
              border-radius: 50%;
              border: 2px solid #d6d6d6;
              text-align: center;
              line-height: 44px;
              font-size: 20px;
              font-weight: 700;
              display: inline-block;
              float: left;
              margin-right: 12px;
              strong{
                  display: block;
                  font-size: 18px;
                  font-weight: 700;
              }
              span{
                  display: block;
                  font-size: 14px;
                  line-height: 22px;
              }
          }
      }
  }
  .fin{
      width: 1100px;
      padding: 45px 0 90px;
      // background: blueviolet;
      margin: 0 auto;
      ol{
          width: 1100px;
          height: 128px;
          .ll{
              width: 218px;
              padding-right: 40px;
              padding-left: 0;
              list-style: none;
              float: left;
              img{
                  display: block;
                  width: 180px;
                  height: 63px;
                  margin-bottom: 20px;
              }
              .chatline{
                  b{
                      font-weight: normal;
                      margin-left: 15px;
                  }
                  a{
                      margin-left: 10px;
                      cursor: pointer;
                      img{
                          display: block;
                          width: 32px;
                          height: 32px;
                          position: relative;
                          top: -28px;
                          left: 94px;
                      }
                  }
                  span{
                      margin-left: 10px;
                      cursor: pointer;
                      img{
                          display: block;
                          width: 32px;
                          height: 32px;
                          position: relative;
                          top: -100px;
                          left: 151px;
                      }
                  }
              }
          }
          .lm{
              float: left;
              width: 100px;
              height: 128px;
              dt{
                font-size: 20px;
                margin-bottom: 10px;
              }
          }
          .lb{
              float: left;
              text-align: center;
              margin-left: 10px;
              img{
                  display: block;
                  width: 100px;
                  height: 100px;
                  margin: 0 auto;
              }
          }
      }
  }
}
li{
  list-style: none;
}
// 底部
footer{
  width: 100%;
  height: 180px;
  background: #333;
  div{
      width: 1000px;
      height: 180px;
      margin: 0 auto;
      // background: springgreen;
      position: relative;
      padding-top: 30px;
      text-align: center;
      a{
          color: #666;
          font-size: 14px;
          text-align: center;
          margin-bottom: 10px;
      }
      span{
          color: #666;
          font-size: 14px;
      }
      p{
          width: 160px;
          height: 30px;
          margin: 10px auto;
          .pic2{
              width: 80px;
              height: 30px;
              float: left;
              margin-right: 15px;
              img{
                  display: block;
                  width: 100%;
                  height: 100%;
              }
          }
          .pic3{
              width: 28px;
              height: 30px;
              float: left;
              img{
                  display: block;
                  width: 100%;
                  height: 100%;
              }
          }
      }
      .pic1{
          display: block;
          width: 20px;
          height: 20px;
          background: url('../images/login/gongan.png');
          position: absolute;
          top: 73px;
          left: 8px;
      }
      }
     
  }
.clearbox:after{
  content: '';
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}