// 清空所有自带的标签
*{
    margin: 0;
    padding: 0;
}
// 顶部图片样式
.top{
    width: 100%;
    height: 80px;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}

// 导航
nav{
    width: 100%;
    height: 31px;
    background: black;
    // 导航内版心
    header{
        width: 1200px;
        height: 31px;
        margin: 0 auto;
        // background: pink;
        // 导航内偏左侧
        ul:nth-of-type(1){
            width: 310px;
            height: 31px;
            line-height: 31px;
            // background: skyblue;
            float: left;
            position: relative;
            z-index: 9;
            li{
                height: 31px;
                list-style: none;
                float: left;
                margin-right: 20px;
                font-size: 14px;
                color: #999;
                a{
                    color: #999; 
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            // 二维码
            .erweima{
                display: none;
                position: absolute;
                right: -36px;
                top: 45px;
                padding: 5px 5px 5px 5px;
                background: #f5f5f5;
                border: 1px solid #ccc;
                // display: none;
                img{
                    display: block;
                    width: 116px;
                    height: 116px;
                    margin: 0 auto;
                }
                strong{
                    display: block;
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
                .arrow{
                   display: block;
                   width: 0;
                   height: 0;
                   border: 10px solid transparent;
                   border-bottom: 10px solid #f5f5f5; 
                   position: absolute;
                   top: -20px;
                   right: 62px;
                }
            }
        }
        // 导航内偏右侧
        ul:nth-of-type(2){
            width: 700px;
            height: 31px;
            line-height: 31px;
            // background: red;
            float: right;
            font-size: 14px;
            color: #999;
            text-align: center;
            li{
                width: 100px;
                height: 31px;
                list-style: none;
                float: left;
                cursor: pointer;
                transform-style: preserve-3d;
                position: relative;
                z-index: 9;
                a{
                    color: #999;
                    text-decoration: none;
                    position: relative;
                    &:hover span{
                        transform: rotateZ(180deg);
                        transform-origin: 40% 30%;
                        border-top: 4px solid red;
                    }
                    span{
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        margin-top: -2px;
                        width: 0;
                        height: 0;
                        font-size: 0;
                        line-height: 0;
                        border: 4px solid transparent;
                        border-top: 4px solid #999;
                        transition: transform .2s ease-in;
                        
                    }
                }
                .sec{
                    display: none;
                    position: absolute;
                    left: 1px;
                    top: 31px;
                    border-top: 0;
                    width:130px;
                    box-shadow:0 1px 1px rgba(0,0,0,.12);
                    padding: 4px 15px 12px 14px;
                    // display: none;
                    background: #fff;
                    border: 1px solid #e8e8ea;
                    text-align: left;
                    font-size: 12px;
                    a{
                        display: block;
                    }
                    b{
                        font-weight: normal;
                    }
                    span{
                        display: block;
                        min-width: 88px;
                        border-bottom: 1px solid #eaeaea;
                        line-height: 0;
                        font-size: 0;
                    }
                }
                .more{
                    width: 80px;
                    margin-left: 12px;
                    .sec{
                        width: 100px;
                        position: absolute;
                        left: -7px;
                        top: 31px;
                        i{
                            display: none;
                            width: 110px;
                            height: 110px;
                            border: 1px solid #ccc;
                            position: absolute;
                            top: 10px;
                            left: -130px;
                            padding: 5px;
                            background: #f5f5f5;
                            img{
                                display: block;
                                width: 100px;
                                height: 100px;
                            }
                            .arrow1{
                                display: block;
                                width: 0;
                                height: 0;
                                border: 15px solid transparent;
                                border-left: 15px solid #f5f5f5; 
                                position: absolute;
                                top: 25px;
                                right: -30px;
                            }
                        }
                        em{
                            display: none;
                            width: 110px;
                            height: 110px;
                            border: 1px solid #ccc;
                            position: absolute;
                            top: 25px;
                            left: -130px;
                            padding: 5px;
                            background: #f5f5f5;
                            img{
                                display: block;
                                width: 100px;
                                height: 100px;
                            }
                            .arrow1{
                                display: block;
                                width: 0;
                                height: 0;
                                border: 15px solid transparent;
                                border-left: 15px solid #f5f5f5; 
                                position: absolute;
                                top: 42px;
                                right: -30px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
// 替换头部
.change{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: white;
    display: none;
    figure{
        width: 1200px;
        height: 65px;
        margin: 0 auto;
        .logo{
            width: 330px;
            height: 65px;
            background: url('../images/index/kl.png') no-repeat;
            float: left;
            cursor: pointer;
        }
        .search{
            display: block;
            width: 511px;
            height: 40px;
            border: 2px solid red;
            float: left;
            margin-top: 15px;
            border-radius: 20px;
            outline: none;
            padding-left: 30px;
            font-size: 14px;
        }
        span{
            display: block;
            width: 14px;
            height: 14px;
            background: url('../images/index/all.png') no-repeat -468px -667px;
            position: absolute;
            top: 46px;
            left: 361px;
            
        }
        .ser{
            cursor: pointer;
            width: 60px;
            height: 40px;
            background: red;
            position: absolute;
            top: 15px;
            right: 521px;
            border-radius: 20px;
        }
        strong{
            cursor: pointer;
            display: block;
            width: 50px;
            height: 40px;
            background: url('../images/index/all.png') no-repeat -482px -664px;
            position: absolute;
            top: 26px;
            right: 531px;
        }
        
    }
}



// 头部
.header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    // background: pink;
    padding: 18px;
    position: relative;
    .logo{
        width: 330px;
        height: 65px;
        background: url('../images/index/kl.png') no-repeat;
        float: left;
        cursor: pointer;
    }
    .search{
        display: block;
        width: 511px;
        height: 40px;
        border: 2px solid red;
        float: left;
        margin-top: 15px;
        border-radius: 20px;
        outline: none;
        padding-left: 30px;
        font-size: 14px;
    }
    span{
        display: block;
        width: 14px;
        height: 14px;
        background: url('../images/index/all.png') no-repeat -468px -667px;
        position: absolute;
        top: 46px;
        left: 361px;
        
    }
    .ser{
        cursor: pointer;
        width: 60px;
        height: 40px;
        background: red;
        position: absolute;
        top: 33px;
        right: 341px;
        border-radius: 20px;
    }
    strong{
        cursor: pointer;
        display: block;
        width: 50px;
        height: 40px;
        background: url('../images/index/all.png') no-repeat -482px -664px;
        position: absolute;
        top: 42px;
        right: 353px;
    }
    .shop{
        width: 110px;
        height: 40px;
        border: 3px solid red;
        padding: 0 13px;
        float: right;
        margin-top: 13px;
        margin-right: 120px;
        border-radius: 20px;
        text-align: right;
        font-size: 16px;
        line-height: 35px;
        background: url('../images/index/shop.png') no-repeat;
        background-position: 16px 7px;
        cursor: pointer;
    }
}

// 正文导航
.nav{
    width: 1200px;
    height: 41px;
    margin: 0 auto;
    // background: pink;
    .left{
        width: 164px;
        height: 41px;
        line-height: 41px;
        background: linear-gradient(90deg,red,#ff3264);
        position: relative;
        color: white;
        text-align: center;
        a{
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            position: absolute;
            top: 15px;
            left: 17px;
            i{
                width: 15px;
                height: 0;
                border-top: 2px solid #ddd;
                display: block;
                margin-bottom: 3px;
            }
        }
    }
    .dh{
        li{
            float: left;
            margin-left: 40px;
            list-style: none;
            font-size: 16px;
            line-height: 40px;
            a{
                color: black;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}


// 轮播图
.swiper-container {
    width: 100%;
    height: 509px;
    img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .prev{
        left: 430px;
        top: 300px;
        width: 50px;
        height: 100px;
        background: rgba(255,255,255,0.3);
        color: gray;
        &:hover{
            color: white;
        }
    }
    .next{
        right: 210px;
        top: 300px;
        width: 50px;
        height: 100px;
        background: rgba(255,255,255,0.3);
        color: gray;
        &:hover{
            color: white;
        }
    }
    .swiper-pagination-bullet-active{
        background: red;
    }
}  


// 轮播图左侧导航
.left_nav{
    width: 164px;
    position: absolute;
    top: 252px;
    left: 160px;
    z-index: 10;
    ul{
        width: 164px;
        position: relative;
        li{
            width: 164px;
            background: linear-gradient(90deg,red,#ff3264);
            color: white;
            padding: 11px 45px;
            list-style: none;
            border-top: 0.3px solid white;
        }
        img{
            display: block;
            width: 22px;
            height: 20px;
            position: absolute;
            top: 13px;
            left: 14px;
        }
        span{
            position: absolute;
            top: 10px;
            left: 135px;
            color: white;
        }
    }
}


// 美容彩妆
.left_nav_second{
    display: none;
    width: 980px;
    height: 509px;
    background: skyblue;
    position: absolute;
    top: 252px;
    left: 324px;
    z-index: 9;
    // overflow: hidden;
    .lf{
      width: 760px;
      height: 509px;
      background: white;
      box-sizing: border-box;
      padding: 15px;
      border:1px solid red;
      li{
          width: 50%;
          height: 150px;
          float: left;
          list-style: none;
        //   background: plum;
          margin-bottom: 50px;
          dl{
              width: 100%;
            //   background: red;
            dt{
                font-size: 16px;
                line-height: 1;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;
            }
            dd{
                div{
                    width: 300px;
                    // height: 120px;
                    // background: yellow;
                    padding-right: 36px;
                    
                    a{
                        font-size: 14px;
                        text-decoration: none;
                        color: gray;
                        padding:  0 9px; 
                        padding-left: 0;
                        line-height: 3;
                        &:nth-of-type(1){
                            color: red;
                        }
                        &:nth-of-type(3){
                            color: red;
                        }
                        &:nth-of-type(7){
                            color: red;
                        }
                        &:nth-of-type(11){
                            color: red;
                        }
                    }
                    
                }
                
            }
          }
      }
    }
    .rg{
       width: 220px;
       height: 509px;
       background: rgba(177, 169, 169, 0.8); 
       float: left;
       position: absolute;
       top: 0;
       right: 0;
       padding:5px;
       box-sizing: border-box;
       li{
           width: 100px;
           height: 100px;
           list-style: none;
           background: white;
           float: left;
           margin-bottom: 5px;
           margin-left: 3px;
           img{
               display: block;
               width: 100%;
               height: 100%;
           }
       }
       
    }
    p{
        width: 190px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: 21px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

// 母婴儿童
.left_nav_second_one{
    display: none;
    width: 980px;
    height: 509px;
    background: skyblue;
    position: absolute;
    top: 252px;
    left: 324px;
    z-index: 9;
    // overflow: hidden;
    .lf{
      width: 760px;
      height: 509px;
      background: white;
      box-sizing: border-box;
      padding: 15px;
      border:1px solid red;
      li{
          width: 50%;
          height: 150px;
          float: left;
          list-style: none;
        //   background: plum;
          margin-bottom: 50px;
          dl{
              width: 100%;
            //   background: red;
            dt{
                font-size: 16px;
                line-height: 1;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;
            }
            dd{
                div{
                    width: 300px;
                    // height: 120px;
                    // background: yellow;
                    padding-right: 36px;
                    
                    a{
                        font-size: 14px;
                        text-decoration: none;
                        color: gray;
                        padding:  0 9px; 
                        padding-left: 0;
                        line-height: 3;
                        &:nth-of-type(1){
                            color: red;
                        }
                        &:nth-of-type(3){
                            color: red;
                        }
                        &:nth-of-type(7){
                            color: red;
                        }
                        &:nth-of-type(11){
                            color: red;
                        }
                    }
                    
                }
                
            }
          }
      }
    }
    .rg{
       width: 220px;
       height: 509px;
       background: rgba(177, 169, 169, 0.8); 
       float: left;
       position: absolute;
       top: 0;
       right: 0;
       padding:5px;
       box-sizing: border-box;
       li{
           width: 100px;
           height: 100px;
           list-style: none;
           background: white;
           float: left;
           margin-bottom: 5px;
           margin-left: 3px;
           img{
               display: block;
               width: 100%;
               height: 100%;
           }
       }
       
    }
    p{
        width: 190px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: 21px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

// 营养保健
.left_nav_second_two{
    display: none;
    width: 980px;
    height: 509px;
    background: skyblue;
    position: absolute;
    top: 252px;
    left: 324px;
    z-index: 9;
    // overflow: hidden;
    .lf{
      width: 760px;
      height: 509px;
      background: white;
      box-sizing: border-box;
      padding: 15px;
      border:1px solid red;
      li{
          width: 50%;
          height: 150px;
          float: left;
          list-style: none;
        //   background: plum;
          margin-bottom: 80px;
          margin-top: 30px;
          dl{
              width: 100%;
            //   background: red;
            dt{
                font-size: 16px;
                line-height: 1;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;
            }
            dd{
                div{
                    width: 300px;
                    // height: 120px;
                    // background: yellow;
                    padding-right: 36px;
                    
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        color: gray;
                        padding:  0 9px; 
                        padding-left: 0;
                        line-height: 3;
                        &:nth-of-type(1){
                            color: red;
                        }
                        &:nth-of-type(3){
                            color: red;
                        }
                        &:nth-of-type(7){
                            color: red;
                        }
                        &:nth-of-type(11){
                            color: red;
                        }
                    }
                    
                }
                
            }
          }
      }
    }
    .rg{
       width: 220px;
       height: 509px;
       background: rgba(177, 169, 169, 0.8); 
       float: left;
       position: absolute;
       top: 0;
       right: 0;
       padding:5px;
       box-sizing: border-box;
       li{
           width: 100px;
           height: 100px;
           list-style: none;
           background: white;
           float: left;
           margin-bottom: 5px;
           margin-left: 3px;
           img{
               display: block;
               width: 100%;
               height: 100%;
           }
       }
       
    }
    p{
        width: 190px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: 21px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

// 数码家电
.left_nav_second_three{
    display: none;
    width: 980px;
    height: 509px;
    background: skyblue;
    position: absolute;
    top: 252px;
    left: 324px;
    z-index: 9;
    // overflow: hidden;
    .lf{
      width: 760px;
      height: 509px;
      background: white;
      box-sizing: border-box;
      padding: 15px;
      border:1px solid red;
      li{
          width: 50%;
          height: 150px;
          float: left;
          list-style: none;
        //   background: plum;
          margin-bottom: 20px;
          dl{
              width: 100%;
            //   background: red;
            dt{
                font-size: 16px;
                line-height: 1;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;

            }
            dd{
                div{
                    width: 300px;
                    // height: 120px;
                    // background: yellow;
                    padding-right: 36px;
                    
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        color: gray;
                        padding:  0 9px; 
                        padding-left: 0;
                        line-height: 2;
                        &:nth-of-type(1){
                            color: red;
                        }
                        &:nth-of-type(3){
                            color: red;
                        }
                        &:nth-of-type(7){
                            color: red;
                        }
                        &:nth-of-type(11){
                            color: red;
                        }
                    }
                    
                }
                
            }
          }
      }
    }
    .rg{
       width: 220px;
       height: 509px;
       background: rgba(177, 169, 169, 0.8); 
       float: left;
       position: absolute;
       top: 0;
       right: 0;
       padding:5px;
       box-sizing: border-box;
       li{
           width: 100px;
           height: 100px;
           list-style: none;
           background: white;
           float: left;
           margin-bottom: 5px;
           margin-left: 3px;
           img{
               display: block;
               width: 100%;
               height: 100%;
           }
       }
       
    }
    p{
        width: 190px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: 21px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
// 个人洗护
.left_nav_second_four{
    display: none;
    width: 980px;
    height: 509px;
    background: skyblue;
    position: absolute;
    top: 252px;
    left: 324px;
    z-index: 9;
    // overflow: hidden;
    .lf{
      width: 760px;
      height: 509px;
      background: white;
      box-sizing: border-box;
      padding: 15px;
      border:1px solid red;
      li{
          width: 50%;
          height: 150px;
          float: left;
          list-style: none;
        //   background: plum;
          margin-bottom: 20px;
          dl{
              width: 100%;
            //   background: red;
            dt{
                font-size: 16px;
                line-height: 1;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;

            }
            dd{
                div{
                    width: 300px;
                    // height: 120px;
                    // background: yellow;
                    padding-right: 36px;
                    
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        color: gray;
                        padding:  0 9px; 
                        padding-left: 0;
                        line-height: 2;
                        &:nth-of-type(1){
                            color: red;
                        }
                        &:nth-of-type(3){
                            color: red;
                        }
                        &:nth-of-type(7){
                            color: red;
                        }
                        &:nth-of-type(11){
                            color: red;
                        }
                    }
                    
                }
                
            }
          }
      }
    }
    .rg{
       width: 220px;
       height: 509px;
       background: rgba(177, 169, 169, 0.8); 
       float: left;
       position: absolute;
       top: 0;
       right: 0;
       padding:5px;
       box-sizing: border-box;
       li{
           width: 100px;
           height: 100px;
           list-style: none;
           background: white;
           float: left;
           margin-bottom: 5px;
           margin-left: 3px;
           img{
               display: block;
               width: 100%;
               height: 100%;
           }
       }
       
    }
    p{
        width: 190px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: 21px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
// 服饰鞋靴
.left_nav_second_five{
    display: none;
    width: 980px;
    height: 509px;
    background: skyblue;
    position: absolute;
    top: 252px;
    left: 324px;
    z-index: 9;
    // overflow: hidden;
    .lf{
      width: 760px;
      height: 509px;
      background: white;
      box-sizing: border-box;
      padding: 15px;
      border:1px solid red;
      li{
          width: 50%;
          height: 150px;
          float: left;
          list-style: none;
        //   background: plum;
          margin-bottom: 150px;
          dl{
              width: 100%;
            //   background: red;
            dt{
                font-size: 16px;
                line-height: 1;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;

            }
            dd{
                div{
                    width: 300px;
                    // height: 120px;
                    // background: yellow;
                    padding-right: 36px;
                    
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        color: gray;
                        padding:  0 9px; 
                        padding-left: 0;
                        line-height: 2;
                        &:nth-of-type(1){
                            color: red;
                        }
                        &:nth-of-type(3){
                            color: red;
                        }
                        &:nth-of-type(7){
                            color: red;
                        }
                        &:nth-of-type(11){
                            color: red;
                        }
                    }
                    
                }
                
            }
          }
      }
    }
    .rg{
       width: 220px;
       height: 509px;
       background: rgba(177, 169, 169, 0.8); 
       float: left;
       position: absolute;
       top: 0;
       right: 0;
       padding:5px;
       box-sizing: border-box;
       li{
           width: 100px;
           height: 100px;
           list-style: none;
           background: white;
           float: left;
           margin-bottom: 5px;
           margin-left: 3px;
           img{
               display: block;
               width: 100%;
               height: 100%;
           }
       }
       
    }
    p{
        width: 190px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: 21px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
// 户外运动
.left_nav_second_six{
    display: none;
    width: 980px;
    height: 509px;
    background: skyblue;
    position: absolute;
    top: 252px;
    left: 324px;
    z-index: 9;
    // overflow: hidden;
    .lf{
      width: 760px;
      height: 509px;
      background: white;
      box-sizing: border-box;
      padding: 15px;
      border:1px solid red;
      li{
          width: 50%;
          height: 150px;
          float: left;
          list-style: none;
        //   background: plum;
          margin-bottom: 30px;
          dl{
              width: 100%;
            //   background: red;
            dt{
                font-size: 16px;
                line-height: 1;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;

            }
            dd{
                div{
                    width: 300px;
                    // height: 120px;
                    // background: yellow;
                    padding-right: 36px;
                    
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        color: gray;
                        padding:  0 9px; 
                        padding-left: 0;
                        line-height: 2;
                        &:nth-of-type(1){
                            color: red;
                        }
                        &:nth-of-type(3){
                            color: red;
                        }
                        &:nth-of-type(7){
                            color: red;
                        }
                        &:nth-of-type(11){
                            color: red;
                        }
                    }
                    
                }
                
            }
          }
      }
    }
    .rg{
       width: 220px;
       height: 509px;
       background: rgba(177, 169, 169, 0.8); 
       float: left;
       position: absolute;
       top: 0;
       right: 0;
       padding:5px;
       box-sizing: border-box;
       li{
           width: 100px;
           height: 100px;
           list-style: none;
           background: white;
           float: left;
           margin-bottom: 5px;
           margin-left: 3px;
           img{
               display: block;
               width: 100%;
               height: 100%;
           }
       }
       
    }
    p{
        width: 190px;
        height: 80px;
        position: absolute;
        bottom: 40px;
        right: 21px;
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}



.clearbox:after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
